.is-collapsed {
    transition: all 1s;
    opacity: 0;
    height: 0;
    overflow: hidden;


}
.is-revealed {
  transition: all 1s;
  opacity: 1;
  height: 190px;

}


.show {
  transition: all .4s;
  top:0;
}
