

.footer {
  @extend %clearfix;
  background-color: $dark-background;
  color: $white;
  padding: em(30px) 5%;
  text-align: center;
  p {
    line-height: 1.9;
    font-size: .7em;
    span {
      padding-right: 5px;
    }
    a {
      @extend %highlighted-link;
    }
  }

  @include mq(medium) {
    p {
      float: left;
    }
    .social-media {
      float: right;
      display: inline-block;
    }
  }
}
