

.header {
  @include image-bg('chamonix.jpg',"yes", $color: $dark-background, $position: bottom);
  height: 650px;
  color: $text-image;
}

.header__about {
  @include image-bg('sunset.jpg',"yes", $color: $dark-background, $position: center);
  height: 400px;
  .logo {
    @media (max-width: $brkpoint-s) {
      display: none;
    }
  }

}
.about__title {
  @extend %centered;
  color: $white;
  text-align: center;
  width: 80%;

}

.title--jumbo {
  // @extend %vert-align;
  color: $white;
  padding: 0 5%;
  margin-top: 25%;
  h4 {
    font-family: $font-family--body;
  }
  h1 {
    @extend %centered;
    font-size: 2.827em;
  }
  h4 {
    font-weight: $font-weight--light;
    font-size: 1em;
  }
  @include mq(medium) {
    margin-top: 4%;
    text-align: center;
    h1 {
      font-size: 3.998em;
      max-width: 600px;
    }
    h4 {
      font-size:1.414em;
    }
  }
}
