// ================================
// Navigation Styling
// ================================

.navbar {
  @extend %clearfix ;
  @extend %centered;
  color: $text-image;
  padding: em(20px) 5%;
  font-family: $font-family--heading;
  position: relative;
  @media ( max-width: $brkpoint-md ) {
    background-color: transparentize($dark-background, .6);
    line-height: 0;

  }
}

.logo {
    @include pseudo-empty(40px,40px) {
    @include image-bg("logomark_white.png","no");
    transform: translateY(10px);
    }

    position: absolute;
    top: 130px;
    left:5%;
    display: inline;
    @include mq(small) {
    position: static;
    top:0;
    }

    float: left;

}

.nav {
  float: right;
  &__item {
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-weight: $font-weight--medium;
    font-size: 0.707em;
    display: inline-block;
    padding: em(20px);
    padding-bottom: em(10px);
    transition: all .3s;
    &:hover {
      color: $highlight;
    }

    &--selected {
      @extend .nav__item;
      // color: $highlight;
      border-bottom: 1px solid $mountain-meadow;
    }
  }
}
