.skills {
  padding: em(100px) 0;
  background-color: $dark-background;
  color: $white;
  .btn span {

    transition: all .3s;
    margin-left: em(10px);
    font-size: em(20px);
    display: inline-block;
    vertical-align: middle;
    transform: rotate(90deg);
    transform-origin: 50% 50%;

  }

  .is-rotated {
    transition: all .3s;
    transform: rotate(-90deg) !important;

  }


  ul {
    margin-top: em(20px);
   }
  li {
    line-height: 1.5;
    display: inline-block;
    width: 40%;
    &:before {
    padding-right: 5px;
    }
  }
}
