
.blockquote {
  @extend %centered;
  width: 50%;
  position: relative;
  .header > & {
    color: $text-image;
  }
  &::before {
      font-family: $font-family--heading;
      content: open-quote;
      position: absolute;
      top: -80px;
      left: 50%;
      margin-left: -40px;
      width: 80px;
      font-size: em(100px);
      text-align: center;

  }
  &__item {
  @extend %blockquote;
  }
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 0.707em;
}

.highlight {
  @extend %highlighted-link;
}

.italic-bold {
  font-family: $font-family--body;
  font-style: italic;
  font-weight: $font-weight--bold;
}

.strike-through {
  text-decoration: line-through;
}
