// =================================================
// Global Styles
// =================================================

// Image directory

$img-directory: 'assets';

// Typography

  // Font-family
  // $font-family--primary-url       this has been linked in html doc
  $font-base--size                    : 18px;
  $font-family--heading               :'Montserrat', sans-serif;
  $font-family--body                  :'Open Sans', sans-serif;
  // $font-family--tertiary              :1;

  // Font-weight

  $font-weight--light                 :300;
  $font-weight--medium                :400;
  $font-weight--bold                  :600;
  $font-weight--x-bold                :700;


// Colors

  // Descriptive color names
  $white                              :#fefefe;
  $dark-grey                          :#121417;
  $pickel-bluewood                    :#34495E;
  $pomegranite                        :#F22613;
  $california                         :#F89406;
  $san-merino                         :#446CB3;
  $ebony-clay                         :#22313F;
  $mountain-meadow                    :#1da488;
  $dribbble-pink                      :#EA4C89;


  // Color usage
  $text-image                         : $white;
  $image-overlay-default              : $dark-grey;
  $dark-background                    : $ebony-clay;
  $highlight                          : $mountain-meadow;
  $text-dark                          : $ebony-clay;


  // Color Palettes
  $color-palettes: (
	grey: (
		xx-light : lighten($dark-grey, 43%),
		x-light  : lighten($dark-grey, 35%),
	  light    : lighten($dark-grey, 12%),
	  base     : $dark-grey,
	 	dark     : darken($dark-grey, 8%),
	 	x-dark   : darken($dark-grey, 16%)
	),
  blue : (
    base    : $san-merino,
    dark-blue : darken($san-merino, 10% ),
    light-blue : lighten($san-merino, 10% ),
    green   : $mountain-meadow,
    yellow  : $california,
    grey    : $ebony-clay

  )
  );

  // background section color-palettes


// Icons
  $icon-codes :
    (twitter    "\e600")
    (linked-in  "\e602")
    (dribbble   "\e601")
    (instagram  "\ea90")
    (github     "\eab4");

// icon-align-right:before {
//    content: "\e029";
// }
// .icon-cloud-download:before {
// 	content: "\e067";
// }

// .icon-html52:before {
// 	content: "\eae0";
// }
// .icon-css3:before {
// 	content: "\eae1";
// }
// .icon-chrome:before {
// 	content: "\eae5";
// }
// .icon-firefox:before {
// 	content: "\eae6";
// }
// .icon-IE:before {
// 	content: "\eae7";
// }
// .icon-opera:before {
// 	content: "\eae8";
// }
// .icon-safari:before {
// 	content: "\eae9";
// }

// Grid

$g-col-width                          :65px;
$g-gutter-width                       :20px;
$g-col-count                          :12;
$g-cont-max-width                     :1100px;


// Breakpoints

$brkpoint-xs                          :320px;
$brkpoint-s                           :480px;
$brkpoint-md                          :700px;
$brkpoint-l                           :1000px;
$brkpoint-xl                          :1200px;
