// vertical align items - parent must have designated height - remember to check nesting.
%vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.centered-text {
  @extend %centered;
  @extend %center-content;
  width: 60%;
  max-width: 600px;
}
