
.social-media {

  &__icons {
  display: inline-block;
  color: $white;
  font-size: em(24px);
  transition: all .4s;
  &:hover {
    color: $highlight;
  }

}
}

%btn {
  display: inline-block;
  padding: em(20px) em(30px);
  transition: all .3s;
}

.btn {
  @extend %btn;
  color: $highlight;
  border: 2px solid $highlight;
  &:hover,  {
    color: $white;
    background-color: $highlight;
  }
  &--important {
    @extend %btn;
    background-color: $highlight;
    color: $white;
    &:hover{
      transform: scale(.95);
    }
  }
}
