

.intro {
  background-color: $white;
  color: $text-dark;
  text-align: center;
  padding: em(100px) 5%;
  & p {
    @extend %centered ;
    max-width: 600px;
  }
  & h2 {
    margin-top: 0;
  }
  @include mq(medium) {
    p {
      width: 60%;
    }
  }
}
